<div class="row">
  <div class="ml-auto mr-auto">
    <h2>Login área administrativa:</h2>
  </div>
</div>
<div class="row">
  <div class="ml-auto mr-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password, 'Senha '%><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control'  %>
      </div>

      <div class="actions">
        <%= f.submit "Login", class: 'btn btn-primary mt-2' %>
      </div>
    <% end %>
  </div>
</div>